<div id="<%= dom_id room %>">
  <p>
    <strong><% t('.title') %></strong>
    <%= room.title %>
  </p>

  <p>
    <strong><% t('.location') %></strong>
    <%= room.location %>
  </p>

  <p>
    <strong><% t('.description') %></strong>
    <%= room.description %>
  </p>

</div>
